:root {
  --box: rgb(29, 29, 29);
  --app: rgb(18, 18, 18);
  --text1: rgb(229, 229, 229);
  --text2: rgb(146, 146, 146);
  --prompt: "Prompt", sans-serif;
  --robot: "Roboto Condensed", sans-serif;
  --open: "Open Sans", sans-serif;
}

html {
  box-sizing: border-box;
  color: var(--text1);
  margin: 0px;
  padding: 0px;
}

body {
  background-color: var(--app);
  margin: 0px;
  padding: 0px;
}

/* || Header  */

header {
  font-family: var(--prompt);
  margin-top: 3em;
  min-height: 4em;
  text-align: center;
}

hr {
  background-image: linear-gradient(
    to right,
    rgb(54, 53, 53),
    rgb(229, 229, 229),
    rgb(54, 53, 53)
  );
  border: 0;
  height: 2px;
  margin-bottom: 3em;
  max-width: 15em;
}

h1 span {
  letter-spacing: 1px;
  text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.535);
}

h1 span:nth-child(1) {
  color: green;
}

h1 span:nth-child(2) {
  color: yellow;
}

h1 span:nth-child(3) {
  color: blue;
}

h1 span:nth-child(4) {
  color: red;
}

/*  || Inputs and Buttons */

main {
  font-family: var(--robot);
  margin: 0 auto 4em;
  max-width: 18em;
  min-height: 500px;
}

.formBox {
  background-color: var(--box);
  margin: 0 auto 2em;
  max-width: 15em;
  padding: 1.5em;
}

.inputBox,
.ratedBox,
.ratedChoices {
  display: flex;
  justify-content: space-between;
}

label {
  font-size: 1.5em;
}

[name="quantity"] {
  border: 2px solid black;
  border-radius: 7px;
  height: 20px;
  padding-left: 5px;
  width: 87px;
}

.money,
.taxBox {
  display: flex;
}

input {
  font-family: var(--robot);
  font-size: initial;
  margin-bottom: 1em;
  max-width: 7em;
}

input:focus {
  outline: 0;
}

.money input {
  border: 2px solid black;
  border-left: 0;
  border-radius: 0 7px 7px 0;
  max-width: 73px;
  min-height: 20px;
}

.currency,
.percent {
  background: white;
  border: 2px solid black;
  color: initial;
  height: 19px;
  padding: 1.5px 5px;
}

.currency {
  border-radius: 7px 0 0 7px;
  border-right: 0;
}

.percent {
  border-left: 0;
  border-radius: 0 7px 7px 0;
}

#tax {
  border: 2px solid black;
  border-radius: 7px 0 0 7px;
  border-right: 0;
  min-height: 20px;
  min-width: 70.3px;
  text-align: right;
}

.ratedChoices {
  min-width: 90px;
}

.ratedChoices label {
  font-size: inherit;
}

.ratedBox {
  font-size: 1.1rem;
  margin-bottom: 2em;
}

.buttons {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  max-width: 7em;
  row-gap: 0.7em;
}

button {
  background-color: var(--text1);
  border-radius: 15px;
  font-family: var(--robot);
  font-size: 1.5em;
}

button:hover {
  background: rgb(187, 187, 187);
}

button:focus {
  background: var(--text1);
}

button:active {
  background: var(--text2);
}

/* || Fee calculations */

.underInputs {
  display: none;
}

.basedBox {
  border: 2px solid var(--text2);
  text-align: center;
}

.feeBox {
  border-bottom: 2px solid var(--text1);
}

.feeBox p.grey:last-child span,
.netAmount,
.listPrice {
  color: var(--text1);
  margin-left: 5px;
}

.feeBox p.grey:last-child,
.netBox p:last-child {
  font-size: 1.5em;
}

.red {
  color: red;
}

.green {
  color: rgb(2, 205, 2);
}

.grey {
  color: var(--text2);
}

.sellingFee > p:nth-child(2),
.discountBox > p:nth-child(2),
.finalFee span,
.minus {
  margin-left: 5px;
}

.finalFee span,
.costBox {
  position: relative;
}

.finalFee span::after,
.costBox::after {
  content: "";
  border-bottom: 2px solid var(--text1);
  height: 100%;
  position: absolute;
  right: 0px;
  top: 5px;
  width: 100%;
}

.feeBox > p,
.netBox > p {
  text-align: right;
}

.sellerDiscount1,
.sellFeeTotal1 {
  display: flex;
  justify-content: space-between;
}

.sellerDiscount2,
.sellFeeTotal2 {
  display: flex;
  flex: 1;
  justify-content: space-around;
  max-width: 200px;
}

.sellFeeTotal1 > *,
.sellFeeTotal2 > *,
.sellerDiscount1 > *,
.sellerDiscount2 > *,
.ratedBox > p,
[type="radio"] {
  margin: 0;
}

.netBox {
  font-size: 1.2em;
}

/* || Footer */

footer {
  background-color: var(--box);
  padding: 20px;
}

.aboutBox > p:first-child,
.contactBox > p:first-child {
  color: var(--text2);
  font-family: var(--robot);
  font-weight: 800;
  font-size: 1.2em;
  margin: 0 auto 5px;
  text-align: center;
  text-transform: uppercase;
}

.aboutBox > p:nth-child(2) {
  font-family: var(--open);
  line-height: 1.4;
  margin: 0 auto 20px;
  max-width: 19em;
}

.images {
  align-items: center;
  background-color: var(--text2);
  border-radius: 10px;
  display: flex;
  justify-content: space-around;
  margin: 0 auto;
  max-width: 8em;
  padding: 5px;
}
