:root {
  --box: grey;
}

html {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

body {
  background-color: #00000042;
}

header {
  min-height: 5em;
  text-align: center;
  border-bottom: 5px solid black;
  margin-bottom: 2em;
}

.formBox {
  max-width: 15em;
  margin: 0 auto 2em;
}

input {
  max-width: 7em;
  margin-bottom: 1em;
}

main {
  max-width: 18em;
  margin: 0 auto 4em;
  min-height: 80vh;
}

.underInputs {
  display: none;
}
.inputBox,
.ratedBox,
.ratedChoices {
  display: flex;
  justify-content: space-between;
}
.inputBox {
  font-size: 1.5em;
}

.buttons {
  display: flex;
  flex-direction: column;
  max-width: 6em;
  margin: 5px auto 0;
  row-gap: 0.5em;
}

button {
  font-size: 1.5em;
}

.basedBox {
  text-align: center;
  border: 2px solid black;
}

.sellingFee > p:nth-child(2),
.discountBox > p:nth-child(2) {
  margin-left: 10px;
}

.finalFee span {
  color: green;
  position: relative;
  margin-left: 1em;
}

.finalFee span::after {
  content: "";
  position: absolute;
  top: 5px;
  right: 0px;
  height: 100%;
  width: 100%;
  border-bottom: 2px solid black;
}

.feeBox > p,
.netBox > p {
  text-align: right;
  /* margin-right: 10px; */
}

.feeBox {
  border-bottom: 2px solid black;
}

[name="quantity"] {
  width: 89px;
  border: 2px solid black;
  border-radius: 7px;
  height: 20px;
  padding-left: 5px;
}

.money,
.taxBox {
  display: flex;
}

.money input {
  max-width: 73px;
  border: 2px solid black;
  /* border-left: 0; */
  font-size: 0.9rem;
  /* border-radius: 0 7px 7px 0; */
  min-height: 20px;
}

.money input {
  border-radius: 0 7px 7px 0;
  border-left: 0;
}

input:focus {
  outline: 0;
}

.currency,
.percent {
  font-size: 0.8em;
  background: white;
  border: 2px solid black;
  /* border-right: 0; */
  height: 22px;
  /* padding: 0 5px; */
  /* border-radius: 7px 0 0 7px; */
}

#tax {
  text-align: right;
  min-height: 20px;
  min-width: 66.6px;
  border: 2px solid black;
  border-right: 0;
  border-radius: 7px 0 0 7px;
}

.currency {
  border-radius: 7px 0 0 7px;
  border-right: 0;
  padding: 0 5px;
}

.percent {
  border-left: 0;
  border-radius: 0 7px 7px 0;
  padding: 0 5px;
}

.ratedBox > p,
[type="radio"] {
  margin: 0;
}

.ratedChoices {
  min-width: 100px;
}

.ratedBox {
  margin-bottom: 1em;
  font-size: 1.1em;
}

.sellerDiscount1,
.sellFeeTotal1 {
  display: flex;
  justify-content: space-between;
}

.sellerDiscount2,
.sellFeeTotal2 {
  display: flex;
  justify-content: space-around;
  flex: 1;
  max-width: 200px;
}

.sellFeeTotal1 > *,
.sellFeeTotal2 > *,
.sellerDiscount1 > *,
.sellerDiscount2 > * {
  margin: 0;
}

.aboutBox > p:first-child,
.contactBox > p:first-child {
  max-width: 4em;
  border: 1px solid red;
  margin: 0 auto 5px;
  text-align: center;
}

.aboutBox > p:nth-child(2) {
  border: 1px solid green;
  max-width: 19em;
  margin: 0 auto 20px;
}

.contactBox > p:nth-child(2) {
  margin: 0 auto 20px;
  max-width: 6em;
  border: 1px solid green;
}
